/* font */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lexend", sans-serif;
  scroll-behavior: smooth;
}


/* style header */
.container-navbar {
  width: 100vw;
  height: 75px;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 1px rgb(179, 178, 178);
  z-index: 9999;
}

.logo a {
  margin-left: 20px;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0px;
  color: #000;
  text-decoration: none;
}

.item-list ul {
  align-items: center;
  display: flex;
  width: 40%;
  list-style: none;
  margin-right: 30px;
  align-items: center;
}

.item-list ul li a {
  color: #000;
  text-decoration: none;
  margin-right: 15px;
}

.item-list ul li .btn-contact {
  padding: 10px;
  color: #000;
  background-color: #afd3e2;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 20px;
  transition: 0.5s;
}

.item-list ul li .btn-contact:hover {
  background-color: black;
  color: white;
}

/* style landing page */
.container-landing-page {
  padding-top: 80px;
  display: grid;
  
}


/* style about*/
.container-about {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  position: relative;
}

.container-about .my-image img {
  margin: 50px;
  width: 300px;
  height: 300px;
  clip-path: circle(50%);
}

.about-me {
  width: 60%;
  padding: 50px;
  margin: 20px auto;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}

.container-about .btn-my-cv {
  width: 100px;
  height: 50px;
  margin-top: 30px;
  background-color: #afd3e2;
  border-radius: 10px;
}

.container-about .btn-my-cv a {
  color: grey;
  text-shadow: 0 0 5px white;
  text-decoration: none;
  font-size: 10px;
}

/* style skills */
.container-skills {
  width: 80%;
  height: 60vh;
  margin: 70px auto;
  border: 2px solid black;
  border-radius: 60px;
  display: flex;
}

/* style for projects */
.container-project {
  width: 80%;
  height: 100vh;
  margin: 70px auto;
  border: 3px solid black;
  display: flex;
}

/* style for contact */
.container-contact {
  width: 80%;
  margin: 50px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-project-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.container-project-items .project-items {
  width: 50%;
  border: 1px solid grey;
}

/* responsive */
@media screen and (max-width: 768px) and (min-width: 577px) {
  .container-landing-page {
    width: 100%;
    height: 100vh;
  }


  .content-intro {
    padding: 1em;
    width: 55%;
    height: 30vh;
    left: 20px;
    top: 15em;
    position: absolute;
  }

  .content-image img {
    margin: 150px 15px 0 0;
    padding: 15px;
    border-radius: 50px;
    width: 300px;
  }

  .container-about .my-image img {
    margin: 50px;
    width: 200px;
    height: 200px;
    clip-path: circle(50%);
  }
}

@media screen and (max-width: 576px) {
  .container-navbar {
    position: static;
  }
  .item-list {
    display: none;
  }

  .container-landing-page {
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
  }

  .container-landing-page .content-intro {
    width: 70%;
    left: 20px;
    position: absolute;
    top: 80px;
  }

  .content-image img {
    padding: 15px;
    border-radius: 50px;
    width: 300px;
  }

  .container-about {
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-me {
    width: 100vh;
    height: 60vh;
  }
}







/* .container-landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.content-intro {
  width: 30%;
  left: 100px;
  top: 300px;
  position: relative;
  font-size: 1rem
}

.content-image img {
  margin: 75px 50px 0 0;
  padding: 15px;
  border-radius: 50px;
  width: 450px;
} */